---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Todd's Coffee Co.">
  <main class="mx-auto max-w-7xl grid justify-center px-4 sm:px-8">
    <Nav />
    <hr class="mt-4" />
    <section class="grid grid-cols-2 max-md:grid-cols-1">
      <div
        class="bg-orange-100 grid content-center justify-items-center p-4 max-md:row-end-3"
      >
        <h2
          class="tracking-wide font-semibold text-5xl mb-5 text-center max-w-md max-md:text-3xl"
        >
          Cold brew for summer
        </h2>
        <p class="font-semibold text-center max-w-md text-lg">
          Cold brew hand-crafted with care. Available for a limited time in the
          Todd's Coffee app.
        </p>
        <button
          class="mt-5 px-4 py-2 border-black border-2 rounded-full bg-transparent text-black font-semibold hover:bg-black hover:text-white"
          >Explore the menu</button
        >
      </div>
      <img
        class="max-md:row-start-1"
        src="/coldbrew.webp"
        alt="cold brew coffee - Photo by tabitha turner on Unsplash"
      />
    </section>

    <section class="mt-8 grid grid-cols-2 max-md:grid-cols-1">
      <img
        src="/chemex.webp"
        alt="chemex coffee brewing - Photo by Ben Moreland on Unsplash"
      />
      <div class="bg-green-950 grid content-center justify-items-center p-4">
        <h2
          class="tracking-wide font-semibold text-5xl mb-5 text-center max-w-md text-white max-md:text-3xl"
        >
          Enjoy the bloom
        </h2>
        <p class="font-semibold text-center max-w-md text-lg text-white">
          Express your inner coffee snob and enjoy a light-bodied brew,
          extracted to perfection.
        </p>
        <button
          class="mt-5 px-4 py-2 border-white border-2 rounded-full bg-transparent text-white font-semibold hover:bg-white hover:text-black"
          >Order now</button
        >
      </div>
    </section>

    <section class="mt-8 grid grid-cols-2 max-md:grid-cols-1">
      <div
        class="bg-stone-300 grid content-center justify-items-center p-4 max-md:row-end-3"
      >
        <h2
          class="tracking-wide font-semibold text-5xl mb-5 text-center max-w-md max-md:text-3xl"
        >
          So much yum
        </h2>
        <p class="font-semibold text-center max-w-md text-lg">
          Artisan pastries made daily at every Todd's Coffee location. Come for
          the coffee, stay for croissants.
        </p>
        <button
          class="mt-5 px-4 py-2 border-black border-2 rounded-full bg-transparent text-black font-semibold hover:bg-black hover:text-white"
          >Order now</button
        >
      </div>
      <img
        class="max-md:row-start-1"
        src="/pastries.webp"
        alt="pastries - Photo by Nathan Dumlao on Unsplash"
      />
    </section>

    <section class="my-8 grid grid-cols-2 max-md:grid-cols-1">
      <img
        src="/coffeeshop.webp"
        alt="chemex coffee brewing - Photo by Petr Sevcovic on Unsplash"
      />
      <div class="bg-stone-950 grid content-center justify-items-center p-4">
        <h2
          class="tracking-wide font-semibold text-5xl mb-5 text-center max-w-md text-white max-md:text-3xl"
        >
          Get together
        </h2>
        <p class="font-semibold text-center max-w-md text-lg text-white">
          Todd's Coffee was forged from the idea that coffee brings us together.
          There's no better coffee shop to meet up.
        </p>
        <button
          class="mt-5 px-4 py-2 border-white border-2 rounded-full bg-transparent text-white font-semibold hover:bg-white hover:text-black"
          >Find a location</button
        >
      </div>
    </section>
  </main>
</Layout>
