<nav class="bg-white mt-4">
  <div class="mx-auto">
    <div class="relative flex h-16 items-center justify-between">
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <svg
          width="26"
          height="40"
          viewBox="0 0 26 40"
          fill="none"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Todd's Coffee logo</title>
          <path
            d="M2.80937 4.55451C2.97975 4.66809 3.15639 4.7173 3.25684 4.74123C3.37458 4.76928 3.49774 4.78695 3.61468 4.79901C3.84937 4.82321 4.13206 4.83195 4.44172 4.83092C5.06514 4.82886 5.88036 4.78656 6.81119 4.71557C8.6775 4.57323 11.0706 4.31061 13.4563 3.9967C15.8419 3.68281 18.2356 3.3156 20.1025 2.96227C21.0338 2.786 21.8492 2.61036 22.4723 2.44325C22.7823 2.3601 23.0628 2.2743 23.2934 2.18568C23.4774 2.11499 23.7817 1.98895 24.0008 1.76988L22.6655 0.434562C22.7595 0.340489 22.8061 0.349875 22.616 0.422899C22.4726 0.478001 22.2629 0.544218 21.9831 0.619274C21.4264 0.768574 20.6637 0.934072 19.7513 1.10677C17.9307 1.45134 15.5744 1.81329 13.21 2.1244C10.8457 2.43549 8.48877 2.69369 6.66758 2.8326C5.75466 2.90222 4.99176 2.94065 4.43547 2.94249C4.15529 2.94342 3.94775 2.9349 3.80841 2.92053C3.73834 2.9133 3.70354 2.90636 3.69444 2.90419C3.66807 2.89791 3.749 2.91131 3.85688 2.98322L2.80937 4.55451ZM24.0008 1.76988C24.0126 1.75805 24.0009 1.77155 23.9692 1.79456C23.9541 1.8055 23.8411 1.89011 23.6569 1.92694C23.4103 1.97628 23.0365 1.92798 22.7757 1.60923C22.5901 1.38242 22.5792 1.14852 22.5771 1.10822C22.5711 0.995359 22.595 0.940109 22.5751 1.01686C22.5626 1.06541 22.5389 1.14198 22.5006 1.25C22.3445 1.68993 22.038 2.39471 21.6835 3.16633C21.3335 3.92805 20.9515 4.72304 20.6562 5.3293C20.5087 5.63202 20.3832 5.88682 20.2947 6.06578C20.2505 6.15524 20.2155 6.22571 20.1916 6.27369C20.1797 6.29767 20.1705 6.31604 20.1644 6.32834C20.1613 6.33449 20.159 6.33912 20.1575 6.34219C20.1567 6.34372 20.1561 6.34486 20.1558 6.3456C20.1556 6.34597 20.1554 6.34624 20.1554 6.34641C20.1553 6.34649 20.1553 6.34654 20.1553 6.34658C20.1553 6.34661 20.1553 6.34661 20.9998 6.76888C21.8443 7.19115 21.8444 7.1911 21.8444 7.19102C21.8444 7.19096 21.8445 7.19086 21.8445 7.19074C21.8447 7.19051 21.8448 7.19017 21.845 7.18973C21.8455 7.18886 21.8461 7.18759 21.8469 7.18592C21.8486 7.18258 21.8511 7.17767 21.8543 7.17123C21.8607 7.15837 21.8701 7.13942 21.8824 7.11482C21.9068 7.06563 21.9425 6.99385 21.9874 6.90297C22.0773 6.72125 22.2045 6.46303 22.3538 6.15638C22.6522 5.54388 23.0411 4.73471 23.3995 3.95476C23.7533 3.18471 24.0926 2.41033 24.2803 1.88151C24.3279 1.74735 24.3713 1.61362 24.4031 1.49079C24.4277 1.39616 24.4734 1.20842 24.4629 1.00897C24.4585 0.92538 24.4387 0.65966 24.2372 0.413375C23.9605 0.0751581 23.5637 0.0197422 23.2865 0.0751828C23.0719 0.118118 22.9208 0.222054 22.8597 0.266423C22.7819 0.322866 22.7161 0.383887 22.6655 0.434562L24.0008 1.76988ZM4.66646 6.76888C5.46306 6.26195 5.46308 6.26198 5.46309 6.262C5.46308 6.26199 5.46309 6.26199 5.46307 6.26196C5.46304 6.26191 5.46297 6.2618 5.46286 6.26164C5.46266 6.26131 5.46231 6.26077 5.46183 6.26001C5.46086 6.25849 5.45935 6.25611 5.45732 6.2529C5.45325 6.24648 5.44709 6.23674 5.439 6.22393C5.42283 6.19831 5.39899 6.16042 5.36885 6.1122C5.30854 6.01569 5.2232 5.87814 5.12381 5.71504C4.92399 5.38714 4.67168 4.96302 4.45213 4.56384C4.21849 4.13905 4.0667 3.82156 4.02082 3.67474C4.01047 3.64164 4.02182 3.66644 4.0264 3.72756C4.02714 3.73729 4.06185 4.04478 3.81389 4.32815C3.4868 4.70196 3.06042 4.63614 2.94737 4.60697C2.83146 4.57705 2.77615 4.53236 2.80937 4.55451L3.85688 2.98322C3.7651 2.92204 3.61083 2.82787 3.41923 2.77843C3.2305 2.72972 2.75171 2.67431 2.39271 3.08459C2.11285 3.40442 2.13617 3.7744 2.14325 3.86878C2.15418 4.01453 2.18962 4.1461 2.21834 4.238C2.3287 4.59119 2.57275 5.06537 2.79745 5.47391C3.03623 5.90807 3.30476 6.35896 3.51119 6.69773C3.61493 6.86795 3.70407 7.01166 3.76746 7.11307C3.79917 7.16381 3.82448 7.20404 3.842 7.2318C3.85076 7.24569 3.85758 7.25646 3.86228 7.26387C3.86463 7.26758 3.86645 7.27045 3.86772 7.27245C3.86836 7.27345 3.86886 7.27423 3.86921 7.2748C3.86939 7.27508 3.86954 7.2753 3.86964 7.27547C3.8697 7.27556 3.86975 7.27564 3.86978 7.27569C3.86983 7.27576 3.86986 7.27582 4.66646 6.76888Z"
            fill="black"></path>
          <path
            d="M16.9586 20.1908C16.9586 20.1908 24.7715 6.76904 22.0333 6.76904C19.2952 6.76904 16.6666 7.39076 12.9792 7.35419C9.29177 7.31761 7.13775 6.76904 4.10752 6.76904C1.07728 6.76904 9.07272 20.1908 9.07272 20.1908C9.07272 20.1908 0.78522 31.2353 1.00427 34.7462C1.22331 38.257 4.10752 38.769 4.10752 38.769H22.0333C22.0333 38.769 24.662 38.4765 24.9906 34.7462C25.3191 31.0159 16.9586 20.1908 16.9586 20.1908Z"
            stroke="black"
            stroke-width="1.88844"></path>
          <path
            d="M6.03841 15.3998C8.30194 14.6318 18.634 14.6683 20.2769 15.3998C21.9197 16.1312 21.2261 21.7998 20.2769 22.9335C19.3277 24.0672 7.20668 23.7381 6.03841 22.9335C4.87014 22.1289 3.77488 16.1678 6.03841 15.3998Z"
            fill="black"></path>
        </svg>

        <div class="flex items-center justify-center ml-12 space-x-6">
          <a
            class="uppercase font-extrabold hover:underline hover:underline-offset-8"
            href="#">Menu</a
          >
          <a
            class="uppercase font-extrabold hover:underline hover:underline-offset-8"
            href="#">Rewards</a
          >
          <a
            class="uppercase font-extrabold hover:underline hover:underline-offset-8"
            href="#">Gift Cards</a
          >
        </div>
      </div>
      <div class="flex space-x-6">
        <button
          class="px-4 py-2 border-black border-2 rounded-full bg-white text-black font-semibold"
          >Sign in</button
        >
        <button class="px-4 py-2 rounded-full bg-black text-white font-semibold"
          >Join now</button
        >
      </div>
    </div>
  </div>
</nav>
